---
layout: default
title: Home
---
<div class="row buildresult my-4">
  <div class="col-md-3 project-link">
    Project
  </div>
  <div class="col-md-3 project-date">
    Date
  </div>
  <div class="col-md-2 project-status">
    Build Number
  </div>
  <div class="col-md-3 project-status">
    Status
  </div>
</div>
{% for project in site.projects %}
  <div class="row buildresult my-4">
    <div class="col-md-3 project-link">
      <a href="{{ project.project }}">{{ project.title }}</a>
    </div>
    <div class="col-md-3 project-date">
      {{ project.date | date: "%Y-%m-%d %H:%M"t }}
    </div>
    <div class="col-md-2 project-status">
      {{ project.buildnr }}
    </div>
    <div class="col-md-3 project-status">
      {% assign items = "status,checks" | split: "," %}
      {% for s in items %}
        <a href="{{ project.latest }}">
          <img src="projects/{{ project.name }}_{{ s }}.svg">
        </a>
      {% endfor %}
    </div>
  </div>
{% endfor %}
